[{:itonami.blueprint/social-impact [:public-safety :local-jobs], :itonami.blueprint/domain :services/security, :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger], :itonami.blueprint/isco-08 "5414", :itonami.blueprint/name "Independent Security Guard Practice", :itonami.blueprint/governor :security-guard-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-5414", :itonami.blueprint/license "AGPL-3.0-or-later"}]